*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  padding: 110px 25px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.result {
  display: flex;
  flex-direction: column;
  min-width: 711px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin: 76px 30px 0 0;
}

.search-form {
  display: flex;
  margin: 16px 32px 0 0;
  box-sizing: border-box;
  align-items: flex-end;
  gap: 30px;
}

.search-form__fieldset {
  min-width: 225px;
  border: 0;
}

.search-form__fieldset-title {
  padding-bottom: 7.5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  line-height: 21.6px;
  font-size: 18px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: solid 1px #fff;
  background-color: transparent;
}

.search-form__textfield:focus, .button:focus, .search-form__label:focus + .search-form__checkbox{
  outline: none;
}

.search-form__textfield:has(:focus-visible), .search-form__label:has(:focus-visible), .content__card-link:has(:focus-visible) {
  outline: 2px solid #fff;
}

.button:focus-visible {
  border: 2px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  margin: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:hover .search-form__label-text{
  text-decoration: underline #fff;
}

.search-form__label:hover {
  cursor: pointer;
}


.search-form__label {
  display: flex;
  gap: 7px;
  align-items: center;
}

.search-form__checkbox-list {
  display: flex;
  gap: 17px;
  margin-bottom: 5px;
  margin-left: 4px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

.search-form__textfield {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 21.6px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.button {
  display: block;
  background: transparent;
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 21.6px;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline #fff;
}

.button:active, .content__video-card:active {
  background-color: #545050;
}

.search-form__submit-button {
  min-width: 194px;
  height: 34px;
}

.content__details {
  padding-top: 20px;
  min-width: 399px;
  /* min-height: 534px; */
  box-sizing: border-box;
}

.content__list {
  position: relative;
  display: flex;
  overflow: hidden auto;
  /* если я указываю только auto для overflow то у меня появляется горизонтальная 
  прокрутка и приходится увеличивать ширину блока или уменьшать кнопку чтобы она пропадала, 
  но тогда получается, что относительно макета у меня сильно смещается секция с карточками видео. */
  max-height: 305px;
  flex-direction: column;
}
  
.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
} 

.more-button {
  min-width: 399px;
  height: 34px;
  margin-bottom: 2.5px;
}

.content__list-item {
  box-sizing: border-box;
  width: 398px;
  min-height: 107px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

.content__video-card:hover {
  text-decoration: underline #fff;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  width: 260px;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 70.5px;
  padding-bottom: 18px;
}

.content__accent {
  color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}